{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Anditama's bio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<style>
    body {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    }   
    .header_lib{
        margin-top: 100px;
    }
    .colorbefore{
        background-color: #fafafa;
    }
    .colorafter{
        background-color: cornflowerblue
    }
    #input-list{
        margin-top: 50px;
    }
    #hello{
        margin-top: 100px;
    }
    #profile_title{
        margin-top: 100px;
    }
    .footer {
	bottom: 0;
	width: 100%;
	line-height: 60px;
    color: #000000;
   }
    //updated ver

    .heading-primary {
      font-size: 2em;
      padding: 2em;
      text-align: center;
    }
    .accordion dl,
    .accordion-list {
      border: 1px solid #ddd;
      &:after {
        content: "";
        display: block;
        height: 1em;
        width: 100%;
        background-color: darken(#38cc70, 10%);
      }
    }
    .accordion dd,
    .accordion__panel {
      background-color: #eee;
      font-size: 1em;
      line-height: 1.5em;
    }
    .accordion p {
      padding: 1em 2em 1em 2em;
    }

    .accordion {
      position: relative;
      background-color: #eee;
    }
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 2em 0 2em 0;
    }
    .accordionTitle,
    .accordion__Heading {
      text-align: center;
      font-weight: 700;
      padding: 2em;
      display: block;
      text-decoration: none;
      color: #000;
      transition: background-color 0.5s ease-in-out;
      border-bottom: 1px solid darken(#38cc70, 5%);
      &:before {
        content: "+";
        font-size: 1.5em;
        line-height: 0.5em;
        float: left;
        transition: transform 0.3s ease-in-out;
      }
      &:hover {
        background-color: darken(#38cc70, 10%);
      }
    }
    .accordionTitleActive,
    .accordionTitle.is-expanded {
      background-color: darken(#38cc70, 10%);
      &:before {
        transform: rotate(-225deg);
      }
    }
    .accordionItem {
      height: auto;
      overflow: hidden;
      //SHAME: magic number to allow the accordion to animate

      max-height: 50em;
      transition: max-height 1s;

      @media screen and (min-width: 48em) {
        max-height: 15em;
        transition: max-height 0.5s;
      }
    }

    .accordionItem.is-collapsed {
      max-height: 0;
    }
    .no-js .accordionItem.is-collapsed {
      max-height: auto;
    }
    .animateIn {
      animation: accordionIn 0.45s normal ease-in-out both 1;
    }
    .animateOut {
      animation: accordionOut 0.45s alternate ease-in-out both 1;
    }
    @keyframes accordionIn {
      0% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes accordionOut {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
      }
    }
    </style>
    
<body>
    <div class="wrap">
    <header>
    <nav class="navbar tocheck colorbefore fixed-top navbar-expand-md navbar-light">
    <a class="navbar-brand" href="{%url 'index' %}">Lab 6 PPW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- left navigation links -->
      <ul class="navbar-nav mr-auto">

        <!-- active navigation link -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>


        <!-- regular navigation link -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'library' %}">Library</a>
        </li>  
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registration' %}">Subscribe</a>
        </li>  
          
        <li class="nav-item">
          <a class="nav-link" href="{% url 'subscriber' %}">Subscriber</a>
        </li>  
        </ul>
        
        <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <button type = "button" class= "changebutton btn btn-danger navbar-btn">Ganti warna</button>
        </li>
      </ul>
        
        </div>
        </nav>
        </header>
    </div>
    
<div class="container">
                <div class="jumbotron">
                <h1 class="display-4">Hello, apa kabar?</h1>
                {% if user.is_authenticated %}
                  <p class="lead">Welcome! <span>{{user.username}} to Anditama's website</span></p>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                  <hr class="my-4">
                {% else %}
                  <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
                    Login
                  </a>
                {% endif %}
         </div>
</div>
          
{% block content %}
{% endblock %}
    
    </body>
  <footer class = "footer tocheck colorbefore">
	<div class = "container">
		<span class = "text">M. Rizky Anditama</span>
		<span class = "text">© 2018 Copyright</span>
	</div>
  </footer>
    

<script>
    $(document).ready(function(){
        $(".changebutton").click(function(){
            if ($(".tocheck").hasClass("colorbefore")){
                $(".tocheck").removeClass("colorbefore").addClass("colorafter");
            }
            else{
                $(".tocheck").removeClass("colorafter").addClass("colorbefore");
            }
        });
    });
</script>
<script>
//uses classList, setAttribute, and querySelectorAll
//if you want this to work in IE8/9 youll need to polyfill these
(function(){
	var d = document,
	accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
	setAria,
	setAccordionAria,
	switchAccordion,
  touchSupported = ('ontouchstart' in window),
  pointerSupported = ('pointerdown' in window);
  
  skipClickDelay = function(e){
    e.preventDefault();
    e.target.click();
  }

		setAriaAttr = function(el, ariaType, newProperty){
		el.setAttribute(ariaType, newProperty);
	};
	setAccordionAria = function(el1, el2, expanded){
		switch(expanded) {
      case "true":
      	setAriaAttr(el1, 'aria-expanded', 'true');
      	setAriaAttr(el2, 'aria-hidden', 'false');
      	break;
      case "false":
      	setAriaAttr(el1, 'aria-expanded', 'false');
      	setAriaAttr(el2, 'aria-hidden', 'true');
      	break;
      default:
				break;
		}
	};
//function
switchAccordion = function(e) {
  console.log("triggered");
	e.preventDefault();
	var thisAnswer = e.target.parentNode.nextElementSibling;
	var thisQuestion = e.target;
	if(thisAnswer.classList.contains('is-collapsed')) {
		setAccordionAria(thisQuestion, thisAnswer, 'true');
	} else {
		setAccordionAria(thisQuestion, thisAnswer, 'false');
	}
  	thisQuestion.classList.toggle('is-collapsed');
  	thisQuestion.classList.toggle('is-expanded');
		thisAnswer.classList.toggle('is-collapsed');
		thisAnswer.classList.toggle('is-expanded');
 	
  	thisAnswer.classList.toggle('animateIn');
	};
	for (var i=0,len=accordionToggles.length; i<len; i++) {
		if(touchSupported) {
      accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
    }
    if(pointerSupported){
      accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
    }
    accordionToggles[i].addEventListener('click', switchAccordion, false);
  }
})();
    </script>
    
</html>
