{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script type="text/javascript">

$(document).ready(function(){
      $.ajax({
        url : "/import_json/",
        dataType : "json",
        success : function (importjson) {
            var books = importjson;
            for (var i=0; i<books.items.length; i++){
                var gambar = "<td>" + "<img src=\"" + books.items[i].volumeInfo.imageLinks.thumbnail + "\" /> </td>";       var judul = "<td>" + books.items[i].volumeInfo.title + "</td>";
                var penulis = "<td>" + books.items[i].volumeInfo.authors[0] + "</td>";
                var penerbit = "<td>" + books.items[i].volumeInfo.publisher + "</td>";
                var deskripsi = "<td>" + books.items[i].volumeInfo.description + "</td>";
                var favorit = "<td>" + "<button id=" + "'btn" + i + "'" + " class = 'btn cekfavoritbutton'><span class = 'cekfavorit glyphicon glyphicon-star-empty'></span></button>" + "</td>";
                $("#gambar").append(gambar); 
                $("#judul").append(judul);
                $("#penulis").append(penulis);
                $("#penerbit").append(penerbit);
                $("#deskripsi").append(deskripsi);
                $("#favorit").append(favorit);
                $("#btn" + i).click(cekFavorit(i));
            }
        },
  });
});
</script>
<script type = "text/javascript">
var nambah = true;
function cekFavorit(i){
    return function(){
        if ($("#btn" + i).find("span").hasClass("glyphicon-star-empty")){
            $("#btn" + i).find("span").removeClass("glyphicon-star-empty");
            $("#btn" + i).find("span").addClass("glyphicon-star");
        }
        else{
            $("#btn" + i).find("span").removeClass("glyphicon-star");
            $("#btn" + i).find("span").addClass("glyphicon-star-empty");
            nambah = false;
        }
        $.ajax({
            url: "/update_count/",
            data: {nambah : nambah},
            method:'POST',
            success : function (data){
                $("#count_favourite").html(data.count);
            }
        })
    }
}
</script>

<script>
    $(document).ready(function(){
        $("form").submit(function(event){
            var newtable = "<tr id='gambar'><th>Gambar</th></tr><tr id = 'judul'><th>Judul</th></tr><tr id='penulis'><th>Penulis</th></tr><tr id ='penerbit'><th>Penerbit</th></tr><tr id = 'deskripsi'><th>Deskripsi</th?</tr><tr id = 'favorit'><th>Favorit</th></tr>"
            $("tbody").html(newtable);
            var tosearch = $(".form-control").val();
            $.ajax({
                url : "https://www.googleapis.com/books/v1/volumes?q=" + tosearch,
                success : function(json){
                    var books = json;
                    for (var i=0; i<books.items.length; i++){
                    var gambar = "<td>" + "<img src=\"" + books.items[i].volumeInfo.imageLinks.thumbnail + "\" /> </td>";       var judul = "<td>" + books.items[i].volumeInfo.title + "</td>";
                    var penulis = "<td>" + books.items[i].volumeInfo.authors[0] + "</td>";
                    var penerbit = "<td>" + books.items[i].volumeInfo.publisher + "</td>";
                    var deskripsi = "<td>" + books.items[i].volumeInfo.description + "</td>";
                    var favorit = "<td>" + "<button id=" + "'btn" + i + "'" + " class = 'btn cekfavoritbutton'><span class = 'cekfavorit glyphicon glyphicon-star-empty'></span></button>" + "</td>";
                    $("#gambar").append(gambar); 
                    $("#judul").append(judul);
                    $("#penulis").append(penulis);
                    $("#penerbit").append(penerbit);
                    $("#deskripsi").append(deskripsi);
                    $("#favorit").append(favorit);
                    $("#btn" + i).click(cekFavorit(i));
                    }
                }
            });
            event.preventDefault();
        });
    });
</script>

<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>

<div class="container-fluid">
    <div class = "header_lib">
        <center>
            <h3>Total favorit: <span id = "count_favourite">{{request.session.count}}</span></h3></center>
    </div>
    
    <div id = "table_lib "class = "table table-responsive">
    <table>
        <tbody>
            <tr id='gambar'>
                <th>Gambar</th>
            </tr>
            <tr id = "judul">
                <th>Judul</th>
            </tr>
            <tr id="penulis">
                <th>Penulis</th>
            </tr>
            <tr id ="penerbit">
                <th>Penerbit</th>
            </tr>
            <tr id = "deskripsi">
                <th>Deskripsi</th>
            </tr>
            <tr id = "favorit">
                <th>Favorit</th>
            </tr>
        </tbody>
        </table>
    </div>
</div>
{% endblock %}