{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class = "container">
<div id= "profile_title">
<center>
    <h1>Profile</h1></center>
</div>

<div id= "profile_photo">
    <center><img src = https://s33.postimg.cc/3nwvr364v/foto.jpg>
    </center>
</div>
<div id = "name">
    <center><h3>Muhammad Rizky Anditama</h3></center></div>
<div class="container">
          <h1 class="heading-primary">Deskripsi diri</h1>
          <div class="accordion">
            <dl>
              <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="tocheck colorbefore accordion-title accordionTitle js-accordionTrigger">Aktivitas</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <ul>
                    <li>University Student of Fasilkom UI</li>
                    <li>Indonesian Nationality</li>
                    <li>Avid Gamer</li>
                    <li>Undertaking web programming and web developing course</li>
                  </ul>
              </dd>
              <dt>
                <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="tocheck colorbefore accordion-title accordionTitle js-accordionTrigger">
                  Pengalaman</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                <ul>
                    <li>Staff of Wisuda Genap</li>
                    <li>Staff of Compfest</li>
                    <li>Staff of Open House Fasilkom</li>
                    <li>Staff of Pemira Fasilkom</li>
                  </ul>
              </dd>
              <dt>
                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="tocheck colorbefore accordion-title accordionTitle js-accordionTrigger">
                  Prestasi
                </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                <ul>
                    <li>Participation in National Chemistry Competition at High School</li>
                  </ul>
              </dd>
            </dl>
          </div>
        </div>
</div>
{% endblock %}