{% extends 'base.html' %}
{% load static %}
{% block content %}


<div id="hello">
    <center><h1>Subscribe me</h1></center>
</div>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST">
            {% csrf_token %}
            {{registration_form}}
        <br>
        </form>
        <div class='text-center'><button class='btn btn-success' disabled id='id_button'>Submit</button></div>
    </div>
</section>

<script type="text/javascript">
    $('<p id="info_email" class="text-right"><b></b></p>').insertAfter('#id_email');
    $('<p></p>').insertAfter('#id_nama');

    $('#id_email').change(function() {
                $.ajax({
                    method: "POST",
                    url : '/email-check/',
                    data: { email: $('#id_email').val()},
                    success: function(msg) {
                        $('#info_email b').html(msg.message);
                }
            });
        });
    
    function allValid(){
        var valid = true;
        $('body input').each(function() {
            if($(this).val() == ''){
                 valid = false;
            }
        });
        if( $('#info_email b').html() != 'Email belum terdaftar, silahkan lanjutkan'){
            valid = false;
            console.log("tes")
        }
        return valid;
    }
    
    $('#id_nama, #id_email, #id_password').bind('keyup', function() {
        if (allValid()){
            $("#id_button").removeAttr('disabled');
        }else{
            $("#id_button").attr('disabled', 'true');
        }
    });
    
    $('#id_button').click(function() {
            $.ajax({
                method: 'POST',
                url: '/register/',
                data: { nama: $("#id_nama").val(),
                        email: $("#id_email").val(),
                        password: $("#id_password").val()
                },
                success: function(msg) {
                    $("#id_nama").val('');
                    $("#id_email").val('');
                    $("#id_password").val('');
                    $('#info_email b').html('');
                    alert(msg.message);
                }
            })
        });


</script>


{% endblock %}