{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script type = text/javascript>
$(document).ready(function(){
      $.ajax({
        url : "/display-subscriber/",
        dataType : "json",
        success : function (importsubs) {
            for (var i=0; i<importsubs.length; i++){
                var nama = "<td>" + importsubs[i].nama + "</td>";
                var email = "<td>" + importsubs[i].email+  "</td>";
                var button = "<td>" + "<button id=" + "'btn" + i + "'" + " class = 'btn cekfavoritbutton'><span class = 'cekfavorit glyphicon 	glyphicon glyphicon-remove'></span></button>" + "</td>";
                $("#nama").append(nama); 
                $("#email").append(email);
                $("#unsubscribe").append(button);
            }
        },
  });
});
    
</script>


<div class="container-fluid">
    <div class = "header_lib">
        <center>
            <h3>Subscriber list</h3></center>
    </div>
    
    <div id = "table_lib "class = "table table-responsive">
    <table>
        <tbody>
            <tr id='nama'>
                <th>Nama</th>
            </tr>
            <tr id = "email">
                <th>E-mail</th>
            </tr>
            <tr id = "unsubscribe">
                <th>Unsubscribe</th>
            </tr>
        </tbody>
        </table>
    </div>
</div>

{% endblock %}